// Headlines -------------------------------------------------------------- //
@include headlines() {
	margin: 0 0 $gutter/2;
	text-rendering: optimizeLegibility;
}

h1,
.h1 {
	font-size: 2em;
}

h2,
.h2 {
	font-size: 1.5em;
}

h3,
.h3 {
	font-size: 1.17em;
}

h4,
.h4 {
	font-size: 1em;
}

h5,
.h5 {
	font-size: .83em;
}

h6,
.h6 {
	font-size: .75em;
}

// Text -------------------------------------------------------------- //
@include text() {
	margin: 0 0 $gutter/2;
	font-style: normal;
}