// Headlines -------------------------------------------------------------- //
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0 0 $gutter/2;
	text-rendering: optimizeLegibility;
}

h1,
.h1 {
	font-size: 2em;
}

h2,
.h2 {
	font-size: 1.5em;
}

h3,
.h3 {
	font-size: 1.17em;
}

h4,
.h4 {
	font-size: 1.12em;
}

h5,
.h5 {
	font-size: .83em;
}

h6,
.h6 {
	font-size: .75em;
}

// Text -------------------------------------------------------------- //
p,
address,
ol,
ul,
label,
blockquote {
	margin: 0 0 $gutter/2;
	font-style: normal;
}